.contact{
  margin-top: 7rem;
    padding: 5rem 0;
    width: 100%;
}
.back{
  width: 100%;
  height: 1100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  column-gap: 3rem;
  z-index: -1;
  background: var(--color-greens);
}

.heading__primary-center{
  text-align: center;
  width: 100%;
}

    /* ================================= */
    /* animation */
    /* ==================================== */
    
    .back span {
      
      position: relative;
      width: 2px;
      height: 2px;
      background-color: var(--color-pinkl);
      margin: 0 4rem;
      border-radius: 50%;
      box-shadow: 0 0 0 1px var(--color-pinkl), 0 0 2px var(--color-pinkl),
        0 0 3px var(--color-pinkl);
      animation: animate 20s linear infinite;
    }
    .back span:nth-child(even) {
      background-color: var(--color-purple);
      box-shadow: 0 0 0 1px var(--color-purple), 0 0 2px var(--color-purple),
        0 0 3px var(--color-purple);
    }
    @keyframes animate {
      0% {
        transform: translateY(0vh);
      }
      100% {
        transform: translateY(1500px);
      }
    }  
    .principal__container{
 
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      margin: 0 auto;
    }


/* ################################### */
/* FORM */
/* ################################### */

.contact__main{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 2rem;
  }
  .contact__mainSection {
    height: fit-content;
    padding: 2rem;
    background-color: var(--color-white);
    box-shadow: 0 5px 5px var(--color-red);
    box-shadow: 5px 5px 5px var(--color-purple);
  }
  
  @media screen and (min-width: 768px) {
    .contact__mainSection {
        width: 80%;
    }
    .schedule-p{
        margin-left: 1rem;
    } 
}
@media screen and (min-width: 1440px) {
  .contact__mainSection {
      width: 50%;
  }
  .schedule-p{
      margin-left: 1rem;
  } 
}
