.projects__container_bg {
  background: var(--color-black);
  padding: 3rem 0;
  margin-top: 9rem;
}
.principal__container{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin: 0 auto;
}
.back{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  column-gap: 3rem;
}
/* ================================= */
/* animation */
/* ==================================== */

.back span {
  position: relative;
  width: 2px;
  height: 2px;
  background-color: var(--color-pinkl);
  margin: 0 4rem;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-pinkl), 0 0 2px var(--color-pinkl),
    0 0 3px var(--color-pinkl);
  animation: animate 20s linear infinite;
}
.back span:nth-child(even) {
  background-color: var(--color-purple);
  box-shadow: 0 0 0 1px var(--color-purple), 0 0 2px var(--color-purple),
    0 0 3px var(--color-purple);
}
@keyframes animate {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(1500px);
  }
}  


.container__projects {
  
  position: relative;
  
  margin: 6rem auto;
}

.proj__card {
  background-color: aliceblue;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 5px var(--color-purple);
  width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  
  
}
.proj__card:hover {
  box-shadow: 0 5px 5px var(--color-white);
}

.proj__card__text {
  width: fit-content;
  margin: 0rem auto;
}

.center {
  margin: 0 auto;
  width: 100%;
}
.cardContainer__name {
  width: fit-content;
  margin: 0 auto;
  color: var(--color-font);
  font-size: 20px !important;
  font-weight: 600 !important;
}

.card__subtitle {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

.cardContainer__description {
  margin: 0 auto;
  width: 60%;
  text-align: justify;
  font-size: x-small;
}

 .circle__container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  bottom: -7rem;
  right: -1rem; 
  box-shadow: 5px 5px 5px var(--color-white);
  background-color: white;
}

.circle__container:hover {
  box-shadow: 5px 5px 5px var(--color-purple);
  opacity: 0;
}
.circle__container.touched {
  box-shadow: 5px 5px 5px var(--color-purple);
  opacity: 0;
}
.circle__container__img {
  margin: 0 auto;
}

.card-link {
  width: 100%;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
