
 .nav-img{
    margin: .5rem 3rem;
    width: 50px; 
}

.ms-auto a:hover{
color: var(--color-pinkl);
}
.ms-auto a:active{
color: var(--color-greenlemon) !important;

}
.navbar-toggler{
    position: absolute;
    right: 4rem;
    top: 2rem;
    
}
 
